<section class="content-main">
    <form method="post" action="/admin/editProduct/<%=product._id %>">

        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Edit <%= product.productName %>
                    </h2>

                    <div>
                        <a href="/admin/products" class="btn btn-light rounded font-sm mr-5 text-body ">Discard</a>
                        <button type="submit" class="btn btn-md rounded font-sm hover-up">save</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Details</h4>
                    </div>
                    <div class="card-body">

                        <div class="mb-4">
                            <label for="product_name" class="form-label">Product title</label>
                            <input type="text" required placeholder="Type here" class="form-control" name="productName"
                                value="<%= product.productName %>">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Full Specification</label>
                            <textarea placeholder="Type here" class="form-control" rows="4" name="productSpecifications"
                                required><%= product.productSpecifications %></textarea>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Maximum Retail Price</label>
                                    <div class="row gx-2">
                                        <input placeholder="₹" type="text" name="mrp" class="form-control" required
                                            value="<%= product.mrp %>" id="mrp">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="mb-2">
                                    <label class="form-label">Discount (%)</label>
                                    <div class="row gx-2">
                                        <input value="<%= product.discount %>" type="number" name="discount"
                                            id="discount" class="form-control" min="0" max="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Price</label>
                                    <input placeholder="₹" type="text" name="price" id="price" class="form-control"
                                        required value="<%=product.price  %>">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Stock</label>
                                    <input value="<%= product.stock %>" type="number" id="stock" name="stock"
                                        class="form-control" min="0">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="form-label">Category</label>
                                <select class="form-select" name="category">
                                    <% categories.forEach(element=> {%>
                                        <option>
                                            <%= element.name %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                        </div>

                        <div class="mb-4">

                        </div>
                        <label class="form-check mb-4">

                        </label>
                    </div>
                </div>
            </div>


        </div>

        <!-- images -->

        <!-- <div style="display: flex;">

            <% product.image.forEach(image=>{ %>

                <div class="col-lg-2">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h4>
                                <%= image %>
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <img src="/admin/productImages/<%=image%>" alt="no image">
                                <button type="button" class="btn btn-outline-secondary">Remove</button>


                            </div>
                        </div>
                    </div>
                </div>

                <% }) %>
        </div> -->

        <!-- <div style="display: flex;">
            <% product.image.forEach(image=> { %>
                <div class="col-lg-2">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h4>
                                <%= image %>
                            </h4>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <img src="/admin/productImages/<%= image %>" alt="no image">
                                <a href="/admin/editProduct/deleteImage/<%= image %>/<%=product._id %>"
                                    class="btn btn-outline-danger">Delete</a>
                                <a href="/admin/editProduct/replaceImage/<%= image %>/<%=product._id %>"
                                    class="btn btn-outline-primary">Replace</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div> -->

        
        

    </form>

    <div class="row">
        <% product.image.forEach(image => { %>
            <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                <div class="card mb-2">
                    <div class="card-header">
                        <h4><%= image %></h4>
                    </div>
                    <div class="card-body">
                        <div class="input-upload">
                            <img src="/admin/productImages/<%= image %>" alt="no image" class="img-fluid ">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <a href="/admin/editProduct/deleteImage/<%= image %>/<%= product._id %>"
                                        class="btn btn-outline-danger">Delete</a>
                                </div>
                                <div class="col-6">
                                    <!-- <a href="/admin/editProduct/replaceImage/<%= image %>/<%= product._id %>"
                                        class="btn btn-outline-secondary ">Replace</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

    <script>
        function calculatePrice() {
            const mrp = parseFloat(document.getElementById('mrp').value)
            const discount = parseFloat(document.getElementById('discount').value)
            let price = document.getElementById('price')

            if (!isNaN(mrp) && !isNaN(discount)) {
                const discountedPrice = mrp - (mrp * (discount / 100))
                price.value = discountedPrice.toFixed()
            } else {
                price.value = ''
            }
        }

        document.getElementById('mrp').addEventListener('input', calculatePrice)
        document.getElementById('discount').addEventListener('input', calculatePrice)
    </script>

</section>