<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <%- include('../partials/style') %>
</head>

<body>
    <% if(header){ %>
        <%- include('../partials/header') %>
    <%}%>
    <% if(smallHeader){ %>
        <%- include('../partials/smallheader') %>
    <%}%>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home" rel="nofollow">Home</a>
                    <span></span>
                    <a href="#" rel="nofollow">Pages</a>
                    <span></span>
                    <%= breadcrumb %>
                </div>
            </div>
        </div>

        <%- body %>

        <%if(footer){ %>
            <%- include('../partials/footer') %>
        <% } %>
    </main>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/script') %>
</body>

</html>